<h1>All Entries</h1>

<ul>
  <% for entry in @entries %>
    <li>
      <%= entry["title"] %> - <%= entry["description"] %> - <%= entry["occurred_on"] %> - <%= entry["place_id"] %>
    </li>
  <% end %>
</ul>
